body {
    margin: 0px;
    padding: 0px;
    padding-top: 70px;
}

.part{
    display: block;
    width: 80%;
    height: 85vh;
    margin: 0px;
    padding: 20px 10%;
}

a.part{
    text-decoration: None;
    color: black;
}

.part:hover {
    background: lightcyan;
}

.part:hover > h2 {
    margin-left: 20px;
    transition: margin 2s;
}
.part:hover > h2::before {
    content: "> ";
}
.part:hover > h2::after {
    content: " <";
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100vw;
    z-index: 1;
    background: lightsteelblue;
}

#header h1 {
    margin-left: 10%;
    width: 70%;
    display: inline-block;
    color: black;
}

.logo {
    height: 70px;
    float: right;
    margin-right: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

body{
  background: #030321;
  font-family: Arial;
}

.container {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}